.auth-label {
	padding: 10px 5px;
}

.auth-dialog .auth-submit {
	margin: 10px auto;
	display: table;
}

.toolbar_auth_button {
	float: right;
	margin-left: 20px;
	height: 1em;
}

.auth_button {
	background-color: #38c;
	margin-right: 10px;
	margin-top: 10px;
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #ccc;
	text-align: center;
	line-height: 12px;
	cursor: pointer;
}