.layer_metadata_button {
    background: url("images/metadata.png") no-repeat;
    display: inline-block;
    float: right;
    height: 15px;
    padding: 0;
    text-decoration: none;
    width: 19px;
    cursor: pointer;
}