.layer_temp_button {
    background: url("images/clock.png") no-repeat;
    display: inline-block;
    float: right;
    height: 16px;
    padding: 0;
    text-decoration: none;
    width: 23px;
    cursor: pointer;
}